:root{
    --main-bg-color: radial-gradient(circle, #ededed, #add8e6ff);
    --nav-gradient: linear-gradient(to right, #4337ff, #c0bcff, #9AF5FF); 
    --card-gradient: linear-gradient(to right, #9AF5FF , white);
    --card-width: auto;
    /* --outline-color: 2px solid orchid; */
    --footer-gradient: linear-gradient(to left, #c0bcff, #9AF5FF); 
    --text-color: #420075;
    --nav-buttons: #ACB3DB;
}

* {
    /* reset styling */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;

}

body{
    background-image: var(--main-bg-color);
    text-align: center;
}

header a h1{
    background-image: var(--nav-gradient);
    color: whitesmoke;
}

p{
    font-size: 1em;
}

img{
    max-width: 100%;
    margin: 0 auto;
}

.main-heading{
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.nav-styling{
    /* outline: 2px solid blue; */
}

nav.nav-styling ul {
    gap: 1em;
    /* outline: 1px solid red; */
    font-size: 1.5em;
    text-align: center;
}

nav.nav-styling ul li {
    display: block;
    background-color: var(--nav-buttons);
    padding: 1em 0;
    margin: 1em;
}

#about-title{
    text-align: center;
    font-size: 2em;
}

#Projects{
    text-align: center;
}



.title-increase{
    font-size: 2em;
}
    
footer{
    background-image: var(--footer-gradient);
    /* outline: 2px solid red; */
    justify-content: space-between;
    text-align: center;
}

 @media (min-width: 62em) { /* 992px */

    header a h1{
        background-image: transparent;
    }

    header{
        display: flex;
        justify-content: space-between;
        padding-inline: 2em;
        background-image: var(--nav-gradient);
        /* outline: 3px solid saddlebrown; */
    }
    header > *{
        margin-top: .5em;
        margin-bottom: .5em;
    }
    
    header nav {
        color: white;
    }
    
    nav.nav-styling ul{
        gap: 0;
        align-items: center;
    }

    nav.nav-styling ul li {
        background-color: transparent;
        padding: 0;
    }
    
    header nav ul{
        display: flex;
        gap: 2em;
        text-decoration: none;
    }
    
    header h1 {
        /* outline: 2px solid darkgreen; */
    }
    
    img{
        max-height: 15em;
        max-width: 100%;
        /* outline: 2px solid red; */
        margin-left: 1em;
        margin-right: 1em;
        border: 2px solid lightblue;
        border-radius: 10px;
    }

    img:hover{
        border: 2px dashed #420075;
        opacity: 0.8;
    }

    #about-img{
        max-height: 20em;
        border: none;
    }
    
    .background-card{
        background-image: var(--card-gradient);
        margin: 2em;
        border-radius: 10px;
        box-shadow: 10px 10px 80px rgba(73, 73, 73, 0.284);
        border: 2px solid lightblue;
        /* outline: 2px solid blue; */
        /* width: var(--card-width); */
    }

    .main-heading{
        color: whitesmoke;
    }
    
    .side-by-side{
        margin: 2em;
        display: flex;
        align-items: center;
        /* outline: var(--outline-color); */
    }
    
    #about-card h2 {
        color: var(--text-color);
    }
    
    #about-card div {
        /* outline: var(--outline-color); */
    }
    
    #about-title{
        text-decoration: underline;
        margin-bottom: 1em;
        color: var(--text-color);
    }
    
    .main-project{
        display: flex;
        flex-direction: column;
        /* outline: var(--outline-color); */
        align-items: center;
    }
    
    #chess-image{
        max-height: 13em;
        width: fit-content;
        justify-content: center;
    }
    
    #other-projects-h2{
        color: black;
        display: flex;
        justify-content: center;
    }
    
    .side-proj-header{
        flex-direction: column;
    }
    
    div.side-proj-header h3{
        margin-bottom: .5em;
        margin-top: .5em;
        color: var(--text-color);
    }
    
    footer{
        background-image: var(--footer-gradient);
        /* outline: 2px solid red; */
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: space-between;
    }
    
    footer div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    #Contacts{
        padding-inline: 2em;
    }
    
    #made-by{
        /* outline: 3px solid blue; */
        margin-inline: 2em;
    }
    
    #target-span{
        display: flex;
        
        /* outline: 3px solid red; */
    }
    
    .big-font-size{
        font-size: 1.5em;
    }
    
    .centered{
        display: flex;
        justify-content: center;
        color: var(--text-color);
    }

    #chess-title{
        margin: .5em 0;
    }
    
 }  
    


